@tailwind base;
@tailwind components;
@tailwind utilities;


/* Slick Libary CSS */
.slick-arrow {
    display: none !important;
}
.slick-dots {
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
}

.slick-dots li button:before {
    font-size: 0.7rem;
}
